@model AddBlogViewModel
@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 key = "0" >Blog Ekleme Sayfası</h1>
            <p class="text-danger">@ViewBag.messages</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form asp-action="BlogAdd" asp-controller="adminblog" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label key="40" for="inputAddress" >Title</label>
                    <input type="text" class="form-control" asp-for="BlogTitle" id="inputAddress" placeholder="title" required="bos gecilemez">
                </div>
                <div class="form-group">
                    <label key="39" for="BlogContent" >Content</label>

                    <textarea class="form-control" asp-for="BlogContent" rows="5" cols="50" placeholder="content" required="bos gecilemez"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label key="38" for="inputCity" >Photo</label>
                        <input type="file" asp-for="ImageURL" class="form-control" id="inputCity" required="bos gecilemez">
                    </div>
                    <div class="form-group col-md-6">
                        <label key="41" for="inputState">Category</label>
                        @*burasi component olsun*@
                        @await Component.InvokeAsync("AdminCategoryComponent")

                    </div>

                </div>

                <button type="submit" key = "1" class="btn btn-primary">Add</button>
            </form>
        </div>
       
    </div>
</div>
